$main-border-color: #e5e6e5;


.product-detail-image__big-image{
    width: 95%;
    border: 1px solid $main-border-color;
    border-radius: 8px;
    height: 50%;
    overflow-y: hidden;
    margin-top: 25px;

    &-wrapper{
        display: flex;
        transition: 0.2s;
    }

    & img{
        width: 100%;
    }
}
.product-detail-image__small-image{
    margin-top: 20px;
    width: 100%;
    & img{
        width: 14.8%;
        height: auto;
        border: 1px solid $main-border-color;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 8px;
    }
    & img:not(:first-child){
        margin-left: 1%;
    }
    &--active{
        border: 1px solid black!important;
    }
}
