.mainScroll{
   display: flex;
    
}

.mainScroll .item {
    background-color: white;
    width: 175px;
    height: 200px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    cursor: pointer;
    
}
.mainScroll .item .icon{
    font-size: 60px;
    background-color: #FFFFFF;
}
.mainScroll .item p{
    font-size: 20px;
   margin-top: 55px;
}


.body{
    background-color: white;
}
.scroll{
    height: 100vh;
}