.body{
    background-color: #F9F9F9;
}
.ScrollRight{
    height: 100%;
    width: 20%;
    width: 100%;
    overflow: auto;
    margin-right: auto;
   display: flex;
   justify-content: center;
}
::-webkit-scrollbar{
    display: none;
}
.CarouselAdvertisement{
    Max-width: 100%;
}
.boxAdvertisement{

}
.home{
    width: 100%;
    height: 100%;
    
    background-color: #F9F9F9;
}
.CarouselMenu{
    margin: 0 30px;
}
.CartProductAll{
    margin: 0 30px;
}
