@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.body {
  width: 100%;
  margin: 10rem auto;
  height: 570px;
}

.slide img {
  width: 27rem;
  margin: 0 auto;
height: 100%;
display: flex;


}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
  max-height: 424px;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: #F9F9F9;
  position: absolute;
  cursor: pointer;
  

  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
  font-size: 50px;
}

.arrow svg:hover {
  color: white;
  background-color:black ;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid white;

}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
  
}



