.cartMain img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 90%;
    height: 90%;
    border-radius: 10%; 
}
.cartMain{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
}
.cartText{
    font-size: 30px;
    opacity: .7;
}
.cartTextItem{
    white-space: nowrap; 
    width: 230px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: 10px 20px;  
}

.cartProduct{
    position: relative;
    width: 250px;
    height: 350px;
    background-color:white ;
    border-radius: 3%;
   
    transition: .25s ease-in-out;
    margin-top: 20px;
}
.cartText span{
    font-size: 20px;
    margin: 20px 20px;
}
.cartSale{
  position: absolute;
  left: 1%;
 top: 90%;
 width: 50px;
height: 25px;
background-color: black;
color: white;
border-radius:20%;
text-align: center;
padding-top: 4px;

}
.cartButton{
    cursor: pointer;
    width: 45px;
    height: 40px;
    background-color: black;
    color: white;
    position: absolute;
   right: 0%;
   top: 89%;
   border-radius: 3% 3% 15% 3%;
}
.count{
    font-size: 25px;
    margin-top: 5px;
}
.buttonCount{
    position: absolute;
    right: 0%;
   top: 89%;
   background-color: black;
   height: 38px;
   color: white;
   border-radius: 25% 3% 15% 3% !important; 
 
}
.buttonCount .buttonItem{
    height: 38px;
    color: white;
    border: none;
    border-radius: 25% 3% 15% 3%;
    background-color: black;
}
.buttonCount .buttonItem:hover{
    border: none;
    background-color: black;
}
.cartProduct:hover{
margin-top: 10px;
cursor: pointer;
}